# Created by .ignore support plugin (hsz.mobi)
/htdocs/fileadmin/user_upload
/htdocs/fileadmin/_temp_
/htdocs/uploads/
/htdocs/typo3/
/htdocs/typo3temp/
/htdocs/typo3conf/LocalConfiguration.php
/htdocs/typo3conf/ext/

# Symlinks nicht berücksichtigen
/htdocs/index.php
/htdocs/typo3
/htdocs/typo3_src

.idea

.vagrant

/vhosts/