body {
    background-color: #FED74F;
    font-size: 14px;
    font-size: 1.4rem;
}


h1 {
    color: #552f1c;
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    font-size: 3.5rem;
    font-weight: normal;
    letter-spacing: normal;
    margin-top: 50px;
    margin-top: 5rem;
    margin-bottom:25px;
    margin-bottom: 2.5rem;
    word-spacing: 0;
}

h1.csc-firstHeader {
    margin-top: 0;
}

h3 {
    color: #463f3e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-size: 2.1rem;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.35em;
    margin: 20px 0 0;
    margin: 2rem 0 0;
    word-spacing: 0;
}

div.csc-textpic-intext-left .csc-textpic-imagewrap, div.csc-textpic-intext-right .csc-textpic-imagewrap {
    margin-top: 15px;
    margin-top: 1.5rem;
}


p {
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.63em;
    margin: 10px 0 0;
    margin: 1rem 0 0;
    vertical-align: baseline;
    word-spacing: 0;
}



.header-bar {
    background-color: #552F1C;
    height: 10px;
    height: 1rem;
}



#mainnavi-bar {
    padding-right: 0;
    padding-bottom: 2.5rem;
}

.container-fluid {
    max-width: 1230px;
    max-width: 123rem;
    margin: 0 auto;
}

.breadcrumb {
    background-color: #f5f5f5;
    border-radius: 4px;
    border-radius: 0.4rem;
    list-style: outside none none;
    margin-top: -0.4rem;
    padding-bottom: 5px;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
    color: #552F1C;
}

.breadcrumb:after {
    content: "";
    background: #CCCCCC;
    position: absolute;
    top: 0;
    left: 11px;
    right: 11px;
    height: 1px;
}


.breadcrumb a {
    color: #C77A54;
}

.background-white {
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-top: 1rem;
    padding-bottom: 10px;
    padding-bottom: 1rem;
}

/****************************/
/* Seitennavigation ANFANG  */
/****************************/
.sidebar-nav ul {
    padding-left: 0;
}

li.sidebarheader {
    font-size: 16px;
    font-size: 1.6rem;
    padding-left: 10px;
    padding-left: 1rem;
}

.sidebarheader ul {
    padding-left: 0;
    margin-bottom: 10px;
    margin-bottom: 1rem;
    margin-left: -10px;
    margin-left: -1rem;

}

.nav-pills > li + li {
    margin-left: 0;
}

ul.dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-top: 0;
    text-align: left;
    list-style: none;
    background-color: inherit;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

ul.dropdown-menu > li > a {
    display: block;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 10px 20px;
    padding: 1rem 2rem;
    clear: both;
    line-height: 1.42857143;
    color: #428BCA;
    white-space: nowrap;
}

.nav .open > a:focus {
    background-color: inherit;
    border-color: #428bca;
}

.sidebar-left {
    padding-left: 0;
}

/****************************/
/* Seitennavigation ENDE    */
/****************************/



.gwrsheader {
    height:auto;
    max-height: 170px;
    max-height: 17rem;
    border: 11px solid #FFFFFF;
    border: 1.1rem solid #FFFFFF;
    padding-left: 0;
    padding-right: 0;
}

.gwrsnews section {
    margin-bottom: 25px;
    margin-bottom: 2.5rem;
}

.gwrsnews section h4 {
    margin-top: 0;
}

.img-gwrs {
    margin-bottom: 20px;
    margin-bottom: 2rem;
}

article {
    height: 100px;
    height: 10rem;
    border: 1px solid grey;
    border: 0.1rem solid grey;
    background-color: rgba(209, 161, 213, 0.76);
    margin-bottom: 10px;
    margin-bottom: 1rem;
}

.maincontent {
    margin-top: 40px;
    margin-top: 4rem;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 70px;
    margin-bottom: 7rem;
}

.maincontent .gwrsnews {
    padding-right: 0;
}

.mainnavi {
    float: right;
    height: 86px;
    height: 8.6rem;
    padding-top: 28px;
    padding-top: 2.8rem;
    text-align: right;
}

.mainnavi ul {
    padding-left: 0;
}

.mainnavi li {
    margin-left: 30px;
    margin-left: 3rem;
}



.mainnavi li a {
    text-decoration: none;
}

.mainnavi .navbar-collapse {
    padding-left: 0;
}

.mainnavi .navbar-default {
    border: none;
    margin-bottom: 6px;
    margin-bottom: 0.6rem;
}

.menunewsdetail {
    padding: 10px 15px;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    border-radius: 0.4rem;
    background-color: #3E9B43;
    color: #FFFFFF;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #3E9B43;
}

.nav-pills > li > a:hover {
    background-color: #e4f4e5;
}




.navbar-collapse {
    padding-right: 0;
}

.navbar-default {
    background-color: transparent;
    border-color: #e7e7e7;
}

.form-horizontal {
    margin-top: 30px;
    margin-top: 3rem;
    padding-left: 15px;
    padding-left: 1.5rem;
}

.form-horizontal h3 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 30px;
    margin-bottom: 3rem;
}

.event-header, .news-header {
    margin-top: 0;
}

/*******************************/
/* Header Slider               */
/*******************************/
.carousel-indicators {
    display: none;
}

.carousel-inner > .item {
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}

/*******************************/
/* Kalender                    */
/*******************************/
#totalcalendar {
    padding-right: 0;
}

.month-large tr {
    height: 40px;
    height: 4rem;
}

.month-large tr.days {
    height: 20px;
    height: 2rem;
}

.default_catheader_text {
    font-size: 11px;
    font-size: 1.1rem;
}

.tx-cal-controller .previous-button, .tx-cal-controller .next-button {
    margin-top: 10px;
    margin-top: 1rem;
}

.day-button, .week-button {
    display: none;
}

#calendar-event {
    background-color: #ECEDED;
    border: 2px solid #F8FAF9;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    margin-bottom: 15px;
    margin-bottom: 1.5rem;
    padding: 0 0 10px 10px;
    padding: 0 0 1rem 1rem;
}

#calendar-event h3 {
    margin: 0 0 10px -10px;
    margin: 0 0 1rem -1rem;
    padding: 5px 0 5px 10px;
    padding: 0.5rem 0 0.5rem 1rem;
    background: linear-gradient(top, #ffacad 0%, #e5786f 50%, #cf3330 100%);
    background: -moz-linear-gradient(top, #ffacad 0%, #e5786f 50%, #cf3330 100%);
    background: -webkit-linear-gradient(top, #ffacad 0%, #e5786f 50%, #cf3330 100%);
    background: -ms-linear-gradient(top, #ffacad 0%, #e5786f 50%, #cf3330 100%);
    background: -o-linear-gradient(top, #ffacad 0%, #e5786f 50%, #cf3330 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffacad, endColorstr=#cf3330, GradientType=1);
    -webkit-border-top-left-radius: 9px;
    -moz-border-top-left-radius: 9px;
    border-top-left-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    -moz-border-top-right-radius: 9px;
    border-top-right-radius: 9px;
}

.calendar-event-row {
    display: flex;
    margin-bottom: 5px;
    margin-bottom: 0.5rem;
}

.calendar-event-label {
    display: inline-block;
    width: 12%;
    font-weight: bold;
}

.calendar-event-data {
    display: inline-block;
    width: 80%;
    margin-left: 10px;
}

.withEventDay {
    background-color: #DF5248;
}

.withEventDay a {
    color: #FFFFFF;
}

.tx-cal-controller .month-large tr.days td.currentDayHeader {
    background-color: #818181;
    color: #ffffff;
    font-size: 13px;
    font-size: 1.3rem;
    text-align: center;
}

/* Tagesansicht Headerleiste */
.tx-cal-controller div.default_catheader dt, .tx-cal-controller div.blue_catheader dt {
    background-color: #712823;
}

/* Tagesansicht Body */
.tx-cal-controller div.default_catheader dl, .tx-cal-controller div.default_catheader_allday, .tx-cal-controller div.blue_catheader dl, .tx-cal-controller div.blue_catheader_allday {
    background-color: #DF5248;
    border: 1px solid #712823;
    color: #ffffff;
}

/*******************************/
/* Kontaktformular             */
/*******************************/
#contactform {
    padding-left: 30px;
    padding-left: 3rem;
    margin-top: 60px;
    margin-top: 6rem;
}

#googlemaps {
    position: relative;
    padding-bottom: 56%;
    height: 0;
    overflow: hidden;
    width:75%;
}

#googlemaps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contactadjust {
    padding-right: 0;
}

.contactadjust h3 {
    margin-top: 0;
}
/*******************************/
/* Newsbereich                 */
/*******************************/
.news-header {
    padding-left: 15px;
    padding-left: 1.5rem;
}

.news .article {
    padding-bottom: 0;
}

.news .article .teaser-text {
    margin: -10px 0 4px;
    margin: -1rem 0 0.4rem;
}

.news .footer .news-list-category {
    display: none;
}

.news .footer p {
    line-height: 2em;
}

.news .footer span {
    margin-right: 0;
    padding-right: 5px;
}

.content-img-left {
    margin-right: 30px;
    margin-right: 3rem;
}

.content-img-right {
    margin-left: 30px;
    margin-left: 3rem;
}

.content-text-right {
    padding-right: 50px;
    padding-right: 5rem;
}

.content-main-header {
    margin-top: 0;
}

.content-header {
    /*	color: red; */
    font-size: 18px;
    font-size: 1.8rem;
}

.templatefooter {
    clear:both;
    height: 40px;
    height: 4rem;
    margin-top: 40px;
    margin-top: 4rem;
    padding-top:50px;
    padding-top: 5rem;
    border-top: 3px solid #552F1C;
    background: url(../../../Logo/footerimage.png);
    background-position: center 3px;
    background-repeat: no-repeat;
}

.templatefooter p, .templatefooter a {
    font-size: 15px;
    font-size: 1.5rem;
    margin-top: 6px;
    margin-top: 0.6rem;
    color: #552F1C;
}

.templatefooter a {
    color: #552F1C;
}

.templatefooter b {
    color: #552F1C;
    font-size: 20px;
    font-size: 2rem;
}


.templatefooteradress, .templatefooterphone, .templatefootermail {
    text-align: center;
}

.footer p {
    color: #ffffff;
    margin-top: -9px;
    margin-top: -0.9rem;
}

.glyphicon {
    font-size: 25px;
    font-size: 2.5rem;
    color: #552F1C;
}


/* News */
.news {
    margin-right: -15px;
    margin-right: -1.5rem;
    margin-top: -37px;
    margin-top: -3.7rem;
}


.newscatheader {
    text-align: center;
    color: #463F3E;
    margin-bottom: 10px;
    margin-bottom: 1rem;
}

.news .article {
    background-color: #9B95DE;
    border:1px solid #116A98;
    padding-left: 6px;
    padding-left: 0.6rem;
    padding-right: 8px;
    padding-right: 0.8rem;
    padding-top: 0;
}

.news .article:after {
    clear: both;
    content: ".";
    display: block;
    height: 8px;
    visibility: visible;
}

.news-single {
    margin-right: 15px;
    margin-right: 1.5rem;
    margin-top: 0;
}

.news-single .header h3 {
    color: #333333;
    padding-top: 8px;
    padding-top: 0.8rem;
    text-align: center;
}

.news-single .article {
    background-color: #EEEEEE;
}

.news-single .article .news-img-wrap {
    float: left;
    margin-left: 0;
    margin-top: 15px;
    margin-top: 1.5rem;
    width: 33%;
    background-color: #EEEEEE;
}

.news-single .article .news-img-wrap a{
    float: none;
    margin-right: 10px;
    margin-right: 1em;
}

.news .header h3 {
    font-size: 16px;
    font-size: 1.6rem;
    margin-top: 7px;
    margin-top: 0.7rem;
}

.news .header h3 a{
    color: #333333;
}

.news .teaser-text p {
    color:#000000;
    font-size: 12px;
    font-size: 1.2rem;
}

.news .teaser-text .more {
    color: #444444;
    font-size: 12px;
    font-size: 1.2rem;
}

.news .footer p {
    color: #000000;
    font-size: 10px;
    font-size: 1rem;
}

.news-text-wrap p {
    color:#000000;
    font-size: 15px;
    font-size: 1.5rem;
}

div.csc-textpic-imagecolumn, td.csc-textpic-imagecolumn .csc-textpic-image {
    margin-bottom: 10px;
 }

div.csc-textpic-border div.csc-textpic-imagewrap img {
    border: 4px solid #FFFFFF;
}

div.csc-default ul {
    padding-left: 15px;
    padding-left: 1.5rem;
    margin-top: 5px;
    margin-top: 0.5rem;
}

div.csc-default ol {
    padding-left: 20px;
    padding-left: 2rem;
    margin-top: 10px;
    margin-top: 1rem;
}

div.csc-default ul li, div.csc-default ol li {
    font-size: 17px;
    font-size: 1.7rem;
}

p.align-center {
    text-align: center;
}

p.align-right {
    text-align: right;
}

p.align-left {
    text-align: left;
}

p.align-justify {
    text-align: justify;
}

/**************************************************/
/* Anpassung wegen Firefox-Bug bei img-responsive */
/**************************************************/
.img-responsive {
    width: 100%;
}



/*******************************************/
/* colorbox Anpassungen BEGINN             */
/*******************************************/
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

#cboxWrapper {
    max-width: none;
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}

#cboxContent {
    position: relative;
}

#cboxLoadedContent {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#cboxTitle {
    margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
}

.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block;
    max-width: none;
    -ms-interpolation-mode: bicubic;
}

.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
    background: #000;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#colorbox {
    outline: 0;
}

#cboxContent {
    margin-top: 20px;
    background: #000;
}

.cboxIframe {
    background: #fff;
}

#cboxError {
    padding: 50px;
    border: 1px solid #ccc;
}

#cboxLoadedContent {
    border: 5px solid #000;
    background: #fff;
}

#cboxTitle {
    position: absolute;
    top: -20px;
    left: 0;
    color: #ccc;
}

#cboxCurrent {
    position: absolute;
    top: -20px;
    right: 0px;
    color: #ccc;
}

#cboxLoadingGraphic {
    background: url(../../../Colorbox/loading.gif) no-repeat center center;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    width: auto;
    background: none;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
    outline: 0;
}

#cboxSlideshow {
    position: absolute;
    top: -20px;
    right: 90px;
    color: #fff;
}

#cboxPrevious {
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -32px;
    background: url(../../../Colorbox/controls.png) no-repeat top left;
    width: 28px;
    height: 65px;
    text-indent: -9999px;
}

#cboxPrevious:hover {
    background-position: bottom left;
}

#cboxNext {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -32px;
    background: url(../../../Colorbox/controls.png) no-repeat top right;
    width: 28px;
    height: 65px;
    text-indent: -9999px;
}

#cboxNext:hover {
    background-position: bottom right;
}

#cboxClose {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    background: url(../../../Colorbox/controls.png) no-repeat top center;
    width: 38px;
    height: 19px;
    text-indent: -9999px;
}

#cboxClose:hover {
    background-position: bottom center;
}

/*******************************************/
/* colorbox Anpassungen ENDE               */
/*******************************************/



/* make sidebar nav vertical */
@media only screen and (min-width: 768px) {
    .gwrslogo {
        height: 75px;
        height: 7.5rem;
        float: left;
        margin-top: 18px;
        margin-top: 1.8rem;
    }

    .gwrsheader {
        background-color: #ff0000;
    }

/****************************/
/* Seitennavigation ANFANG  */
/****************************/
    a.dropdown-toggle {
        color: #FFFFFF;
    }

    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
        font-weight: bold;
    }


    .sidebar-nav .navbar li.active a {
        color: #FFFFFF;
    }

    .sidebar-nav .navbar .dropdown-menu li a {
        color: #428BCA;
    }

    .sidebar-nav .navbar .dropdown-menu li.active a {
        color: #FFFFFF;
    }

    .sidebar-nav .navbar li a {
        padding-top: 4px;
        padding-top: 0.4rem;
        padding-bottom: 4px;
        padding-bottom: 0.4rem;
        color: #428BCA;
    }

    .sidebar-nav .navbar li a:hover,
    .sidebar-nav .navbar li a:focus {
        outline: none;
        text-decoration: none;
        color: #428BCA;
    }


    .sidebar-nav .navbar li a:active {
        color: #FFFFFF;
    }

    .sidebar-nav .navbar li a:focus {
        color: #FFFFFF;
    }

    .sidebar-nav .navbar li.active {
        background-color: #3E9B43;
    }

/*
    li.sidebarheader ul.nav li.dropdown.active {
        background-color: #3E9B43;
    }
*/

    ul.dropdown-menu {
        background-color: #FED74F;
    }


    .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
        color: #fff;
        text-decoration: none;
        background-color: #3E9B43;
        outline: 0;
    }

    .navbar-nav li ul {
        margin-left: 0;
        padding-left: 0;
    }
/****************************/
/* Seitennavigation ENDE    */
/****************************/

    #mainnavi-bar {
        float: right;
    }

    .mainnavi li {
        margin-left: 0;
    }

    .page-curl {
        margin: 0 auto;
        padding: 15px;
        position: relative;
    }

    .page-curl:before, .page-curl:after {
        background: none;
        bottom: 12px;
        -moz-box-shadow: 0 12px 12px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 12px 12px rgba(0, 0, 0, 0.5);
        box-shadow: 0 12px 12px rgba(0, 0, 0, 0.5);
        content: "";
        height: 10px;
        left: 10px;
        position: absolute;
        width: 40%;
        z-index: -1;
        -moz-transform: skew(-4deg) rotate(-5deg);
        -webkit-transform: skew(-4deg) rotate(-5deg);
        transform: skew(-4deg) rotate(-5deg);
    }

    .page-curl:after {
        -moz-transform: skew(4deg) rotate(5deg);
        -webkit-transform: skew(4deg) rotate(5deg);
        transform: skew(4deg) rotate(5deg);
        left: auto;
        right: 10px;
    }

    .calendar-event-label {
        width: 16%;
    }

    #contactform {
        padding-left: 30px;
        padding-left: 3rem;
    }
}


/*********************************/
/* Contentelemente               */
/* Tabelle                       */
/*********************************/
td, th {
    padding: 10px;
    padding: 1rem;
}
/********************/
/* Tabelle bordered */
/********************/
.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 2px solid #555;
    background-color:#EEEEEE;
}

.table-bordered > thead > tr > th {
    background-color: #BBBBBB;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    font-size: 15px;
    font-size: 1.5rem;
}

/*******************/
/* Tabelle striped */
/*******************/
.table-striped,
.table-striped > thead > tr > th,
.table-striped > tbody > tr > th,
.table-striped > tfoot > tr > th,
.table-striped > thead > tr > td,
.table-striped > tbody > tr > td,
.table-striped > tfoot > tr > td {
    border: 2px solid #555;
}

.table-striped > thead > tr > th,
.table-striped > thead > tr > td {
    font-size: 15px;
    font-size: 1.5rem;
    background-color: #BBBBBB;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #FFFFFF;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #DDDDDD;
}

@media only screen and (max-width: 991px) {
    .sidebarheader ul {
        margin-bottom: 20px;
        margin-bottom: 2rem;
        margin-top: 10px;
        margin-top: 1rem;
    }

    .sidebar-nav .navbar li {
        margin-bottom: 10px;
        margin-bottom: 1rem;
    }

    ul .dropdown-menu {
        min-width: inherit;
    }
}


@media only screen and (max-width: 767px) {
    .gwrslogo {
        height: 75px;
        height: 7.5rem;
        margin-top: 18px;
        margin-top: 1.8rem;
        text-align: center;
    }

    .gwrsheader {
        display: none;
    }

    .header-bar {
        display: none;
    }

    .breadcrumb {
        display: none;
    }

    .caret {
        margin-left: 10px;
        margin-left: 1rem;
    }

    #mainnavi-bar {
        padding-right: 15px;
        padding-right: 1.5rem;
        padding-bottom: 0;
        float: none;
    }

    .mainnavi {
        float: none;
        height: inherit;
        text-align: left;
    }

    .mainnavi ul {
        background-color: #666666;
    }

    .mainnavi li {
        margin: 0;
        padding-bottom: 8px;
        padding-bottom: 0.8rem;
        padding-top: 8px;
        padding-top: 0.8rem;
        border-bottom: 2px solid #999999;
        border-bottom: 0.2rem solid #999999;
    }

    .mainnavi ul li.active {
        background-color: #3E9B43;
    }


    .mainnavi li a {
        color: #DDDDDD;
    }

    .mainnavi li:hover, .mainnavi li a:hover {
        background-color: #AAAAAA;
    }

    .mainnavi .navbar-header {
        border: 1px solid #e7e7e7;
        border: 0.1rem solid #e7e7e7;
    }

    .navbar-nav {
        margin: 0;
    }

    .navbar-nav h4 {
        display: none;
    }

    .navbar-default .navbar-nav > li > a {
        color: #DDD;
    }

    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -41.6%;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -41.6%;
    }

    .row-offcanvas-right.active {
        right: 41.6%;
    }

    .row-offcanvas-left.active {
        left: 41.6%;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 41.6%;
    }
/*
    #sidebar {
        background-color: #3b3b3b;
        padding-top: 0;
    }

    #sidebar .nav > li {
        color: #ddd;
        background: linear-gradient(#3E3E3E, #383838);
        border-top: 1px solid #484848;
        border-top: 0.1rem solid #484848;
        border-bottom: 1px solid #2E2E2E;
        border-bottom: 0.1rem solid #2E2E2E;
    }

    #sidebar .nav > li:first-child {
        border-top: 0;
    }

    #sidebar .nav > li > a {
        color: #ddd;
    }

    #sidebar .nav > li > a > img {
        max-width: 14px;
        max-width: 1.4rem;
    }

    #sidebar .nav > li > a:hover, #sidebar .nav > li > a:focus {
        text-decoration: none;
        background: linear-gradient(#373737, #323232);
        color: #fff;
    }

    #sidebar .nav .caret {
        border-top-color: #fff;
        border-bottom-color: #fff;
    }

    #sidebar .nav a:hover .caret {
        border-top-color: #fff;
        border-bottom-color: #fff;
    }

*/
    .navbar-collapse {
        margin-left: 0;
        padding-left: 0;
    }

    .sidebar-left {
        padding-left: 15px;
        padding-left: 1.5rem;
    }

    .sidebar-nav .navbar li {
        margin-bottom: 0;
    }

    .sidebar-nav ul li {
        list-style: none;
    }

    .sidebar-nav ul li ul {
        margin: 0;
        padding-left: 0;
        background-color: #666666;
    }

    .sidebar-nav ul li ul li {
        margin: 0;
        border-bottom: 2px solid #999999;
        border-bottom: 0.2rem solid #999999;
        padding-left: 15px;
        padding-left: 1.5rem;
        padding-top: 10px;
        padding-top: 1rem;
        padding-bottom: 10px;
        padding-bottom: 1rem;
    }

    .sidebar-nav ul li ul li.active {
        background-color: #3E9B43;
    }

    .sidebar-nav ul li ul li a {
        color: #DDDDDD;
        text-decoration: none;
    }

    .sidebar-nav ul li ul li:hover, .sidebar-nav ul li ul li a:hover {
        background-color: #AAAAAA;
    }


    .sidebar-nav ul li ul li ul {
        background-color: #888888;
        margin-bottom: 18px;
        margin-bottom: 1.8rem;
        margin-left: -15px;
        margin-left: -1.5rem;
        margin-top: 11px;
        margin-top: 1.1rem;
        padding-bottom: 0;
        width: 103%;
    }


    .sidebar-nav ul li ul li ul li {
        border-bottom: 2px solid #999999;
        border-bottom: 0.2rem solid #999999;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
        background-color: #3E9B43;
    }

    .caret {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid;
        display: inline-block;
        height: 0;
        vertical-align: middle;
        width: 0;
    }

    li.sidebarheader {
        text-align: center;
        font-weight: bold;
    }

    li.sidebarheader ul li {
        text-align: left;
    }


    .contact-school {
        text-align: center;
    }

    .form-horizontal {
        padding-left: 15px;
        padding-left: 1.5rem;
        padding-right: 15px;
        padding-right: 1.5rem;
    }

    .form-horizontal h3 {
        text-align: center;
    }

    .event-header {
        text-align: center;
    }

    .news-header {
        text-align: center;
        padding-left: 0;
        margin-top: 10px;
        margin-top: 1rem;
    }

    .news-image {
        display: none;
    }

    .news-text {
        padding-left: 30px;
        padding-left: 3rem;
        padding-right: 30px;
        padding-right: 3rem;
    }

    .news, .news-single  {
        margin-right: -2px;
        margin-right: -0.2rem;
    }

    .news {
        margin-top: 0;
    }

    .content-main-header {
        text-align: center;
    }

    #totalcalendar {
        padding-right: 15px;
        padding-right: 1.5rem;
    }

    .calendar-event-row, .calendar-event-label {
        display: block;
    }

    .calendar-event-data {
        margin-left: -7px;
        margin-left: -0.7rem;
    }

    #contactform {
        padding-left: 15px;
        padding-left: 1.5rem;
    }

    .contactadjust {
        padding-right: 15px;
        padding-right: 1.5rem;
    }

    #googlemaps {
        width: 100%;
        margin-top: 30px;
        margin-top: 3rem;
    }

    h1 {
        font-size: 25px;
        font-size: 2.5rem;
        margin-bottom: 15px;
        margin-bottom: 1.5rem;
        margin-top: 30px;
        margin-top: 3rem;
    }

    h1.csc-firstHeader {
        margin-top: 30px;
        margin-top: 3rem;
    }

    .footer {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .gwrslogo {
        height: 75px;
        height: 7.5rem;
        float: left;
        margin-top: 18px;
        margin-top: 1.8rem;
    }

    .gwrsheader {
        background-color: #ffff00;
    }

    #mainnavi-bar {
        float: right;
    }

    .mainnavi li {
        margin-left: 10px;
        margin-left: 1rem;
    }

    .calendar-event-label {
        width: 14%;
    }
}

@media only screen and (min-width: 1200px) {
    .gwrslogo {
        position: relative;
        height: 75px;
        height: 7.5rem;
        float: left;
        margin-top: 18px;
        margin-top: 1.8rem;
    }

    .gwrsheader {
        background-color: #849BFF;
    }

    #mainnavi-bar {
        float: right;
    }

    .mainnavi li {
        margin-left: 20px;
        margin-left: 2rem;
    }
}

/******************************/
/* Test für Toggle Navigation */
/******************************/
.text-center {
    padding-top: 20px;
    padding-top: 2rem;
}

#sidebar {
    height: 100%;
    padding-right: 0;
    padding-top: 20px;
    padding-top: 2rem;
}

#sidebar .nav {
    width: 95%;
}

#sidebar li {
    border: 0 #f2f2f2 solid;
    border-bottom-width: 1px;
    border-bottom-width: 0.1rem;
}